body
  div(style="width: 100%; height: 100%; background: #f3f3f3;")
    table(style="width: 100%; background: #f3f3f3; height: 100%;")
      tbody
        tr
          td(align="center" valign="top" style="padding: 20px; height: 100%;")
            table(width="900" bgcolor="#ffffff" style="background: #ffffff !important;")
              tbody
                tr
                  td(style="padding: 5px 15px 5px 15px; border-bottom: 1px solid lightgrey;")
                    table(style="width: 100%;")
                      tr
                        td
                          h3(style="padding-left: 5px;") Notification
                  tr
                    td(style="padding: 15px;")
                      table
                        tr
                          td
                            b Time:
                          td 
                            span #{moment().format("DD MMM YYYY HH:mm:ss")}
                        tr
                          td(colspan="2") !{content}

                tr
                  td(style="padding: 15px; border-top: 1px solid lightgrey;")
                    table(style="width: 100%;")
                      tr
                        td
                          p(style="color: grey; margin: 15px 0; text-align: center;") #{moment().format("YYYY")} @ ZHULONG BACKUP PROGRAM



