<footer class="bg-light position-fixed w-100" style="bottom: 0;">

  <div class="py-2 text-center w-100">

    <span class="text-muted">
      DEVISIGN @ ZHULONG - BACKUP TOOL
    </span>
    
  </div>

</footer>

{{!-- Place Holder --}}
<div style="height: 40px;"></div>


<script>
  const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  const tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
</script>