<div>
  <h2 class="my-4 text-center">
    ZhuLong
  </h2>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="/jobs">
        <i class="bi bi-clock"></i>
        Jobs
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/settings">
        <i class="bi bi-gear"></i>
        Settings
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">
        <i class="bi bi-info-circle"></i>
        About
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/docs">
        <i class="bi bi-code-slash"></i>
        API
      </a>
    </li>
  </ul>
</div>