<!DOCTYPE html>
<html>
  {{> head}}

  <body class="mx-0 my-0">
    <div class="container mx-auto">

      {{> navigation}}
      
      <div class="row">
      
        <div class="col-12 d-flex mb-3 mt-2">
          <div>
            <span class="h5">
              About ZhuLong
            </span>
          </div>
        </div>

        <div class="col-12">
          <div class="card bg-light shadow-sm border-0 py-3 px-3 w-100">
            <p class="mb-2">
              <b>Zhulong</b> /ˈdʒuːlɒŋ/ or Zhuyin /ˈdʒuːjɪn/, also known in English as the Torch Dragon, was a giant red solar dragon and god in Chinese mythology. 
              It supposedly had a human's face and snake's body, created day and night by opening and closing its eyes, and created seasonal winds by breathing.
            </p>
            <hr />
            <p class="mt-1">
              <b>
                Project Roadmap
              </b>
            </p>
          </div>
        </div>

      </div>

    </div>

    {{> footer}}
  </body>
</html>