<!DOCTYPE html>
<html>
  {{> head}}

  <body class="mx-0 my-0">
    <div class="container mx-auto">

      {{> navigation}}
      
      <div class="row">
      
        <div class="col-12 d-flex mb-3 mt-2">
          <div>
            <span class="h5">
              Jobs
            </span>
            <br />
            <small class="text-muted">
              Count: {{count}}
            </small>
          </div>
          <div class="ms-auto pt-2">
            <a href="/jobs/add">
              <button class="btn btn-primary">
                <i class="bi bi-plus-lg"></i>
                Add Job
              </button>
            </a>
          </div>
        </div>

        {{#each jobs}}
          <div class="col-12 col-sm-6 col-md-4 com-lx-3 mb-4">
            <div class="card w-100 py-3 px-3 shadow-sm border-0 rounded-lg">
              <div class="d-flex">
                <b>
                  {{this.job_name}}
                </b>
                <a class="ms-auto" href="/api/jobs/{{this.job_id}}/logs" target="_blank">
                  <i class="bi bi-clock-history text-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="View Logs"></i>
                </a>
              </div>
              <div class="text-muted mt-2">
                <table class="w-100">
                  <tbody>
                    <tr class="bg-light">
                      <td>
                        <small>Trigger Type</small>
                      </td>
                      <td>
                        <small>{{this.job_trigger_type}}</small>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <small>Trigger Time</small>
                      </td>
                      <td>
                        <small>{{this.job_trigger_time}}</small>
                      </td>
                    </tr>
                    <tr class="bg-light">
                      <td>
                        <small>Source</small>
                      </td>
                      <td>
                        <small>{{this.job_source}}</small>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <small>Destination</small>
                      </td>
                      <td>
                        <small>{{this.job_destination}}</small>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <small>Number of Copies</small>
                      </td>
                      <td>
                        <small>{{this.job_number_of_copy}}</small>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <small>Status</small>
                      </td>
                      <td>
                        <small>{{this.job_status}}</small>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <small>Output Zip</small>
                      </td>
                      <td>
                        <small>{{this.job_archive_folder}}</small>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="mt-3 d-flex">
                <button class="btn btn-sm btn-outline-danger">
                  <i class="bi bi-trash2"></i>
                  Delete
                </button>
                
                <a href="/jobs/{{this.job_id}}/edit" class="ms-auto">
                  <button class="btn btn-sm btn-primary">
                    Edit
                    <i class="bi bi-chevron-compact-right"></i>
                  </button>
                </a>
              </div>
            </div>
          </div>
        {{/each}}

        {{#if noJobFound}}
          <div class="text-center my-5 py-5 text-muted">
            <i class="h1 bi bi-clipboard-x"></i>
            <br />
            <span>
              No Job Found
            </span>
          </div>
        {{/if}}
      </div>

    </div>

    {{> footer}}
  </body>
</html>