<!DOCTYPE html>
<html>
  {{> head}}

  <body class="mx-0 my-0">
    <div class="container mx-auto">
      {{> navigation}}
      <div class="row">
        <div class="col-12 d-flex mb-3 mt-2">
          <div class="w-100 bg-light rounded-lg shadow-sm py-1 px-3">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="/jobs">Jobs</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Saved
                </li>
              </ol>
            </nav>
          </div>
        </div>

        {{#if success}}
          <div class="col-12 py-5 my-5 text-center text-success">
            <i class="h1 bi bi-check-circle"></i>
            <br />
            <span>
              Saved
            </span>
            <br>
            <a href="/jobs">
              <button class="btn btn-sm btn-primary mt-2 pe-4">
                <i class="bi bi-chevron-compact-left"></i>
                Back
              </button>
            </a>
          </div>
        {{else}}
          <div class="col-12 py-5 my-5 text-center">
            <i class="h1 text-danger bi bi-x-circle"></i>
            <br />
            <b>
              Error
            </b>
            <br>
            <div class="w-100 text-center mx-auto mt-2 text-muted" style="max-width: 400px;">
              {{error}}
            </div>
            <br>
            <button class="btn btn-sm btn-primary mt-2" onclick="back()">
              Back
            </button>
          </div>

        {{/if}}

      </div>
    </div>
    {{> footer}}
  </body>
</html>