<!DOCTYPE html>
<html>
  {{> head}}

  <body class="mx-0 my-0">
    <div class="container mx-auto">
      {{> navigation}}
      <div class="row">
        <div class="col-12 d-flex mb-3 mt-2">
          <div class="w-100 bg-light rounded-lg shadow-sm py-1 px-3">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="/jobs">Jobs</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  {{#if isCreating}}
                    Create a new job
                  {{else}}
                    Edit existing job
                  {{/if}}
                </li>
              </ol>
            </nav>
          </div>
        </div>

        <form id="job_detail_form" method="post" action="/jobs/save?job_id={{job_id}}">

          <div class="shadow-sm row mx-0 pt-3 pb-4 px-2 bg-light">
              
            <div class="col-12 col-md-6">
              <label for="job_name" class="form-label">Job Name</label>
              <input type="text" class="form-control" required name="job_name" id="job_name">
            </div>

            <div class="col-12 col-md-6">
              <label for="job_trigger_type" class="form-label">Job Trigger Type</label>
              <select class="form-select" required id="job_trigger_type" name="job_trigger_type">
                {{!-- <option value="once">Once</option> --}}
                <option value="daily">Daily</option>
                <option value="weekly">Weekly</option>
                <option value="monthly">Monthly</option>
                <option value="annually">Annually</option>
              </select>
            </div>

            <div class="col-12 mt-3">
              <label for="job_source" class="form-label">Source Path</label>
              <input type="text" class="form-control" required name="job_source" id="job_source">
            </div>

            <div class="col-12 mt-3">
              <label for="job_destination" class="form-label">Destination Path</label>
              <input type="text" class="form-control" required name="job_destination" id="job_destination">
            </div>

            {{!-- <div class="col-12 col-md-6 mt-3">
              <label for="job_trigger_once_datetime" class="form-label">Trigger Datetime</label>
              <input type="text" class="form-control" type="datetime" name="job_trigger_once_datetime" id="job_trigger_once_datetime">
            </div> --}}

            <div class="col-12 col-md-6 mt-3">
              <label for="job_trigger_time" class="form-label">Trigger Time</label>
              <input type="text" class="form-control" type="text" name="job_trigger_time" id="job_trigger_time" placeholder="hh:mm:ss">
            </div>

            <div class="col-12 col-md-6 mt-3">
              <label for="job_number_of_copy" class="form-label">Number of Copies</label>
              <input type="text" class="form-control" type="number" value="3" name="job_number_of_copy" id="job_number_of_copy">
            </div>

            <div class="col-12 mt-3">
              <label for="job_trigger_days" class="form-label">Trigger Days</label>
              <select class="form-select" multiple id="job_trigger_days" name="job_trigger_days">
                <option value="1">Monday</option>
                <option value="2">Tuesday</option>
                <option value="3">Wednesday</option>
                <option value="4">Thursday</option>
                <option value="5">Friday</option>
                <option value="6">Saturday</option>
                <option value="7">Sunday</option>
              </select>
            </div>

            <div class="col-12 mt-3 d-block">
              <label for="job_recipients">
                Notification Recipients
                <small class="ml-1">(split by comma)</small>
              </label>
              <br>
              <textarea class="w-100 form-control" name="job_recipients" placeholder="person1@example.com,person2.example.com..." id="job_recipients" rows="3"></textarea>
            </div>

            <div class="col-12 mt-3 d-flex">
              <div>
                <input type="checkbox" id="job_archive_folder" name="job_archive_folder" class="pointer">
                <label for="job_archive_folder" class="pointer" >Output as Zipped</label>
              </div>

              <div class="form-check form-switch ms-auto">
                <input class="form-check-input" type="checkbox" id="job_status" name="job_status">
                <label class="form-check-label" for="job_status">Enabled</label>
              </div>
            </div>
          </div>


          <div class="d-flex w-100 mt-4">
            <a href="/jobs">
              <button class="btn btn-primary pe-4">
                <i class="bi bi-chevron-compact-left"></i>
                Back
              </button>
            </a>

            <button class="ms-auto btn btn-success ps-4" type="submit">
              Save
              <i class="bi bi-chevron-compact-right"></i>
            </button>
          </div>
        </form>

      </div>
    </div>
    {{> footer}}
  </body>
</html>

<script>
  /** Edit Job */
  if ("{{job_recipients}}")
    document.getElementById("job_recipients").value = "{{job_recipients}}";
  if ("{{job_name}}")
    document.getElementById("job_name").value = "{{job_name}}";
  if ("{{job_source}}")
    document.getElementById("job_source").value = "{{job_source}}";
  if ("{{job_destination}}")
    document.getElementById("job_destination").value = "{{job_destination}}";
  if ("{{job_trigger_time}}")
    document.getElementById("job_trigger_time").value = "{{job_trigger_time}}";
  if ("{{job_number_of_copy}}")
    document.getElementById("job_number_of_copy").value = "{{job_number_of_copy}}";
  if ("{{job_trigger_type}}")
    document.getElementById("job_trigger_type").value = "{{job_trigger_type}}";
  if ("{{job_trigger_once_datetime}}")
    document.getElementById("job_trigger_once_datetime").value = "{{job_trigger_once_datetime}}";
  if ("{{job_trigger_days}}")
    document.getElementById("job_trigger_days").value = "{{job_trigger_days}}";
  if ("{{job_trigger_date}}")
    document.getElementById("job_trigger_date").value = "{{job_trigger_date}}";
  if ("{{job_trigger_months}}")
    document.getElementById("job_trigger_months").value = "{{job_trigger_months}}";
  if ("{{job_trigger_years}}")
    document.getElementById("job_trigger_years").value = "{{job_trigger_years}}";
  if ("{{job_archive_folder}}" == 'true')
    document.getElementById("job_archive_folder").checked = true;
  if ("{{job_status}}" == "active")
    document.getElementById("job_status").checked = true;
  
  
  /** Format value before submit */
  document.getElementById("job_detail_form").addEventListener("submit", (event) => {
    /** Format Job Status */
    const job_status = document.getElementById("job_status").checked;
    document.getElementById("job_status").value = job_status ? "active" : "disabled";

    /** Format Job Output Format */
    const job_archive_folder = document.getElementById("job_archive_folder").checked;
    document.getElementById("job_archive_folder").value = !!job_archive_folder;
  })
</script>