<!DOCTYPE html>
<html>
  {{> head}}

  <body class="mx-0 my-0">
    <div class="container mx-auto">

      {{> navigation}}
      
      <div class="row">
      
        <div class="col-12 d-flex mb-3 mt-2">
          <div>
            <span class="h5">
              Settings
            </span>
          </div>
        </div>

        <div id="alert-space">

        </div>

        <div class="col-12">
          <form action="/api/settings/smtp" method="post">
            <div class="row mx-0 bg-light shadow-sm border-0 pt-3 pb-4 px-2 w-100">
            
              <div class="h6 col-12">
                SMTP
              </div>
              <div class="col-12 col-md-6">
                <label for="smtp_host" class="form-label">Host</label>
                <input type="text" class="form-control" required name="smtp_host" id="smtp_host">
              </div>
              <div class="col-12 col-md-6">
                <label for="smtp_port" class="form-label">Port</label>
                <input type="tel" class="form-control" required name="smtp_port" id="smtp_port">
              </div>
              <div class="col-12 col-md-6 mt-3">
                <label for="smtp_username" class="form-label">Email</label>
                <input type="email" class="form-control" required name="smtp_username" id="smtp_username">
              </div>
              <div class="col-12 col-md-6 mt-3">
                <label for="smtp_password" class="form-label">Password</label>
                <input type="password" class="form-control" required name="smtp_password" id="smtp_password">
              </div>

              <div class="w-100 mt-3 d-flex">
                <button class="btn btn-success ms-auto" type="submit">
                  Save
                  <i class="bi bi-chevron-compact-right"></i>
                </button>
              </div>
            </form>
            <form action="/api/settings/export-configs" method="post">
              <div class="my-4 px-3">
                <div class="border-bottom"></div>
              </div>

              <div class="h6 col-12">
                Export Configurations
              </div>

              <div class="col-12 d-flex">
                <button class="btn btn-success" style="min-width: 100px;">
                  <i class="bi bi-download"></i>
                  Export
                </button>
              </div>

            </div>
          </form>
        </div>

      </div>

    </div>

    {{> footer}}
  </body>
</html>

<script>
  try {
    const urlSearchParams = new URLSearchParams(window.location.search);
    const params = Object.fromEntries(urlSearchParams.entries());
    
    if (params.saved) {
      document.getElementById("alert-space").innerHTML = `
        <div class="alert alert-success">Configuration Saved 🎉</div>
      `
    }
    if (params.error) {
      document.getElementById("alert-space").innerHTML = `
        <div class="alert alert-danger">An error has occurred: ${params.error} 😭</div>
      `
    }

    if ("{{smtp_host}}") {
      document.getElementById("smtp_host").value = "{{smtp_host}}";
    }
    if ("{{smtp_port}}") {
      document.getElementById("smtp_port").value = "{{smtp_port}}";
    }
    if ("{{smtp_username}}") {
      document.getElementById("smtp_username").value = "{{smtp_username}}";
    }
    if ("{{smtp_password}}") {
      document.getElementById("smtp_password").value = "{{smtp_password}}";
    }
    
  } catch (error) {
    console.error(error);
  }
</script>